
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*  Estilos para el Header  */
.header-top-desktop {
    display: none;
}

.separationBar {
    display: none;
}

.header-top {
    margin-top: 0;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: black;
    height: 50px;
    font-size: 10px;
    position: fixed;
    top: 0;
}

.header-top img {
    width: 100%;
    height: 33px;
    margin-top: 10px;
}

.header-botones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
}

.header-botones a{
    text-align: right;
    font-size: 120%;
    color: #F8E0D8;
    margin-top: 5px;
    text-decoration: none;
}

.header-botones p{
    color: #F8E0D8;
    margin: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.navBar-top{
    display: flex;
    background-color: #00A997;
    font-family: 'Roboto', sans-serif;
    color: white;
    justify-content: space-around;
    padding-top: 2px;
    align-items: center;
    position: fixed;
    font-size: 12px;
    width: 100vw;
    top: 50px;
}

.navBar-top a{
    text-decoration: none;
    color: white;
}

.navBar-top i {
    font-size: 100%;

}

/*  Estilos para el Main  */
main {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

h1 {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 32px;
    margin-left: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin-top: 65px;
    margin-bottom: 15px;
}

.form-login {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 100%;
}

.form-container,
#rememberMe {
    margin-bottom: 12px;
    box-sizing: border-box;
}

.form-container label {
    font-weight: bold;
    font-size: 14px;  
    margin-left: 5px;  
}

.form-input {
    border: 1px solid silver;
}
#h3{
font-size:medium;
margin-left: 5px;
margin-bottom: 25px;
}
#email,
#password {
    margin-bottom: 10px;
    margin-left: 5px;
    width: 82%;
    border-radius: 0.375em;
    min-height: 40px;
    box-sizing: border-box;
}

.error-message-email,
.error-message-password {
    color: red;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-error {
    border: solid crimson 2px;
}

#rememberMe {
    display: flex;
    align-items: center;
}

#rememberMe input {
    width: 18px;
    height: 18px;
    margin-right: 8px;
 }

.form-submit-button {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.form-submit-button button {
    background-color: #F8E0D8;
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}

.form-login a {
    text-align: end;
    font-size: 12px;
}

.caja {
    display: none;
    color: white;
    /* width: 100%;
    display: flex;
    justify-content: center; */
}

.caja img {
    width: 40px;
    height: 40px;
}

.caja-envio,
.caja-pago,
.caja-seguridad {
    display: flex;
    gap: 32px;
    padding: 24px;
    border-left: 1px solid black;
}

.caja-envio {
    border: none;
}

.caja-envio h4,
.caja-pago h4,
.caja-seguridad h4 {
    font-size: 16px;
    margin: 0 0 8px;
}

.caja-envio p,
.caja-pago p,
.caja-seguridad p {
    font-size: 12px;
    margin: 0;
}

/* Especificaciones de estílo para Desktop*/
@media (min-width: 450px){
    /*  Para el Header  */    
    .header-top {
        display: none;
    }
    .form-container label {
        margin-left: 0px;  
    }
    h1{
        margin-left: 0px;
    }
    #h3{
        font-size:large;
        margin-left: 0px;
        }

    #email,
#password {
    margin-left: 0px;
    width: 100%;
   
}
    .header-global-desktop {
        position: fixed;
        top: 0;
        z-index: 2;
        height: 130px;
    }

    .header-top-desktop {
        top: 0;
        color: #F8E0D8;
        align-items: flex-end;
        padding-left: 5%;
        padding-right: 5%;
        height: 85%;
    }
    
    .header-top-desktop a {
        display: block;
        justify-content: space-around;
        color: #F8E0D8;
        text-decoration: none;
        padding-bottom: 10px;
        font-size: 1.2vw;
        padding-left: 2px;
        padding-right: 2px;
    }

    .header-top-desktop i {
        padding-right: 5px;
        font-size: 1.5vw;
    }

    .header-top-desktop img {
        width: 170px;
    }

    .header-searchBar-desktop {
        font-size: 1.5vw;
        align-items: top;
        position:absolute;
        padding-bottom: 9%;
    }

    .navBar-top {
        display:none;
    }

    .header-top-desktop-column1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .header-searchBar-desktop input{
        font-size: 1.5vw;
        background-color: #F8E0D8;
        border-radius: 5px;
    }

    .header-top-desktop-column2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .header-top-desktop-column2 p{
        padding-bottom: 5%;
        font-size: 1.5vw;
        text-align: right;
        text-decoration: none;
    }

    .header-top-desktop-column3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .header-top-desktop-column3 p{
        padding-bottom: 1%;
        font-size: 1.5vw;
        text-align: right;
    }
    .header-top-desktop-column3 em{
        font-size: 2.5vw;
    }
    .header-searchBar-desktop {
        text-align: left;
    }
    .separationBar {
        display: flex;
        width: 100vw;
        background-color: #00A997;
        font-family: 'Roboto', sans-serif;
        color: white;
        justify-content: space-around;
        padding-top: 2px;
        align-items: center;
        height: 15%;
    }
    
    .separationBar a{
        text-decoration: none;
        color: white;
        font-size: 1.2vw;
    }
    /*  Para el Main  */
    .container {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 2px 4px 20px -2px rgba(0,0,0,0.83);
        -webkit-box-shadow: 2px 4px 20px -2px rgba(0,0,0,0.83);
        -moz-box-shadow: 2px 4px 20px -2px rgba(0,0,0,0.83);
        border-radius: 0.375em;
        width: 500px;
    }

    .caja {
        /* display: none; */
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .caja img {
        width: 40px;
        height: 40px;
    }
    
    .caja-envio,
    .caja-pago,
    .caja-seguridad {
        display: flex;
        gap: 32px;
        padding: 24px;
        border-left: 1px solid black;
    }
    
    .caja-envio {
        border: none;
    }
    
    .caja-envio h4,
    .caja-pago h4,
    .caja-seguridad h4 {
        font-size: 16px;
        margin: 0 0 8px;
    }
    
    .caja-envio p,
    .caja-pago p,
    .caja-seguridad p {
        font-size: 12px;
        margin: 0;
    }
}









/* 
.footer-top{
    display: flex;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: #F8E0D8;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3vw;
}

.footer-top a {
text-decoration: none;
color: #F8E0D8;
}

.footer-top ul {
    padding: 0;
    padding-top: 10px;
}

.footer-top li{
    list-style: none;
}

.formulario{
    display: none;
} */

/*     
    .footer-top{
        display: flex;
        background-color: black;
        font-family: 'Roboto', sans-serif;
        color: #F8E0D8;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 2vw;
    }

    .footer-top a {
    text-decoration: none;
    color: #F8E0D8;
    }

    .footer-top ul {
        padding: 0;
        padding-top: 10px;
    }

    .footer-top li{
        list-style: none;
    }

    .formulario {
        display: block;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        color: #F8E0D8;
        text-align: left;
        background-color: black;
        padding-bottom: 10px;
        width: 400px;
    }

    .formNombre {
        width: 70%;
    }
    .formMensaje {
        width: 70%;
    }
    .formEmail {
        width: 70%;
    }
    .tituloForm {
        font-size: 2rem;
    }
} */
