
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.cuadro {
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 85px;
    background-color: white;
    border-radius: 0.375em;
    width: 290px;
}

.form-sign-up {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 22px;
    margin: 0;
}

p {
    font-size: 12PX;
    margin: 4px 0 16px
}

#recuerdame {
    margin-top: -6px;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.form-label {
    font-size: small;
    font-weight: bold;
}

.error-message-first-name,
.error-message-last-name,
.error-message-email,
.error-message-category,
.error-message-userImage,
.error-message-password {
    color: red;
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.boton-enviar {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.boton-enviar button {
    font-size: 16px;
    width: 100%;
    margin-top: 12px;
    background-color: #00A997;
    padding: 8px;
    border-radius: 5px
}

.boton-enviar button,
.boton-redes button {
    padding: 8px;
    border-radius: 8px;
}

.boton-redes {
    gap: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.botonFacebook {
    background-color: #3b5998;
    color: white;
    width: 180px
}

.botonFacebook i {
    font-size: 20px;
}

.botonGoogle i{
    color: #4285F4;
    font-size: 20px;
}

.botonGoogle {
    width: 180px
}

.form-sign-up a {
    text-align: end;
    font-size: 12px;
}

.caja {
    width: 100%;
    display: flex;
    justify-content: center;
}

.caja img {
    width: 40px;
    height: 40px;
}

.caja-envio,
.caja-pago,
.caja-seguridad {
    display: flex;
    gap: 32px;
    padding: 24px;
    border-left: 1px solid black;
}

.caja-envio {
    border: none;
}

.caja-envio h4,
.caja-pago h4,
.caja-seguridad h4 {
    font-size: 16px;
    margin: 0 0 8px;
}

.caja-envio p,
.caja-pago p,
.caja-seguridad p {
    font-size: 12px;
    margin: 0;
}

.form-input {
    border: 1px solid silver;
}

.input-error {
    border: solid crimson 2px;
}

.form-container {
    margin: 8px 0px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 450px) {
    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: white;
    }

    .caja img {
        width: 40px;
        height: 40px;
    }

    .caja-envio,
    .caja-pago,
    .caja-seguridad {
        border-bottom: 1px solid black;
        text-align: center;
        padding: 32px 0;
    }

    .caja-pago,
    .caja-seguridad {
        border-left: none;
    }

    .caja-seguridad {
        border-bottom: none;
    }
}

@media (min-width: 450px){
    .cuadro{
        margin-top: 50px;
        background-color: white;
        border-radius: 0.375em;
        width: 500px;
    }
}
